html,
body,
* {
  font-family: cursive;
  background-color: rgb(194, 142, 142);
  text-align: center;
}
.parent {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-width: 0px;
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
}
.child {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: row;
}
